.cart{
    margin-top: 100px;

    .cart-items-title{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
        align-items: center;
        text-align: center;
        color: gray;
        font-size: max(1vw , 12px);
    }

    .cart-items-item{
        margin: 10px 0px ;

        color: black;
        img{
            margin: auto;
            width: 50px;
        }

        .cross{
            cursor: pointer;
        }
        
    }

    hr{
        height: 1px;
        background-color:rgba(255, 112, 87, 0.432) ;
        border: none;
    }
}